* {
    box-sizing: border-box;
}



body {
    margin: 0;    
}

.header_container {
    width: 100%;
    margin: auto;
    overflow: auto;
}

#nav {
    width: 100%;
    padding-right: 160px;
}

#name {
    float: left;
    padding-left: 150px;
    margin-left: 160px;
    position: relative;
    padding: 30px 40px 30px 40px;
    background-color: #4aaaa5;
    color: white;
}

#UL {
    float: right;
    list-style-type: none;
    /* background-color: yellow; */
}

li {
    display: inline-block;
    align-content: center;
    padding: 30px 25px 30px 25px;
    color: #777777;
    text-decoration: #777777 ; 
    border-left: grey;
}

.main_content {
    height: 960px;
    width: 100%;
    /* margin-top: 30px; */
    background-color: grey;
}

#AboutMe {
    width: 960px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    border: 1px solid red;
    background-color: #ffffff;
    overflow: auto;
}

h2 {
    font-weight: bold;
    color: #4aaaa5;
    padding: 20px 10px 20px 10px;
}

hr {
    border: none;
    height: 2px;
    color: #4aaaa5;
    background-color: #4aaaa5;
}

.description {
    clear: both;
    color: #777777;
}

.d1 .d2 .d3 {
    /* float: left; */
}

img {
    width: 20%;
    float: left;
}

#footer_container {
    width: 100%;
    background-color: #777777;
}