* {
    /* background-color: grey; */
    box-sizing: border-box;
}



body {
    width: 100%;
    margin: 5px auto;
    
    padding: 20px;
    background-color: #ffffff;
    /* border: 2px red solid; */
    
}

.header_container {
    width: 960px;
    margin: auto;
    overflow: auto;
}

#nav {
    width: 960px;
    padding: 10px;
    background-color: #ffffff;
    /* border: 2px red solid; */
    display: inline-block;
}

#name {
    float: left;
    margin: auto;
    position: relative;
    padding: 30px 40px 30px 40px;
    background-color: #4aaaa5;
    color: white;
}

#UL {
    float: right;
    list-style-type: none;
    color: blue;
}

li {
    display: inline-block;
    align-content: center;
    padding: 30px 25px 30px 25px;
    background-color: #ffffff;
    border-right:solid 1px grey;
}

#info {
    width: 960px;
}

/* footer  { */
    /* text-align: center; */
    /* text-align: bottom; */
    /* background: darkorange; */
/* } */
