* {
    /* background-color: grey; */
    box-sizing: border-box;
}



body {
    width: 100%;
    margin: 5px auto;
    
    padding: 20px;
    background-color: #ffffff;
    /* border: 2px red solid; */
    
}

.header_container {
    width: 960px;
    margin: auto;
    overflow: auto;
}

#nav {
    width: 960px;
    padding: 10px;
    background-color: #ffffff;
    /* border: 2px red solid; */
    display: inline-block;
    border-bottom: 1px solid grey;
}

#name {
    float: left;
    margin: auto;
    position: relative;
    padding: 30px 40px 30px 40px;
    background-color: #4aaaa5;
    color: white;
}

#UL {
    float: right;
    list-style-type: none;
    color: #777777;
}

li {
    display: inline-block;
    align-content: center;
    padding: 30px 25px 30px 25px;
    background-color: #ffffff;
    border-right:solid 1px grey;
}

.main_content {
    width: 960px;
    margin: auto;
    padding: 0px 20px 0px 20px;
    border: 1px solid red;
    margin-top: 25px;
}

h2 {
    font-weight: bold;
    color: #4aaaa5;
    padding: 20px 10px 20px 10px;
}

hr {
    border: none;
    height: 2px;
    color: #4aaaa5;
    background-color: #4aaaa5;
}

.description {
    color: #777777;
}

/* img { */
    float: left;
}

#footer_container {
    width: 100%;
    background-color: #777777;
}